@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --slate-300: hsl(212, 45%, 89%);
    --slate-500: hsl(216, 15%, 48%);
    --slate-900: hsl(218, 44%, 22%);
}

body {
    background-color: var(--slate-300);
    font-size: 15px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h1 {
    color: var(--slate-900);
    font-size: 1.2rem;
}

p {
    color: var(--slate-500);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.card {
    margin: 0 auto;
    width: 250px;
    background-color: var(--white);
    padding: 20px;
}

img {
    max-width: 100%;
}

.text-center {
    text-align: center;
}

.border-rounded {
    border-radius: 10px;
}